<html lang="en">
<%- include("./partials/head.ejs") %>
<!-- i import the head in this way in every ejs file, so that if something changes in the navbar, i dont have to change it from all the ejs's files -->
<body>
    <%- include("./partials/nav.ejs") %>
    <div class="blogs-content">
        <h2>All Blogs</h2>
        <% if (blogs.length > 0 ){  %>
          <% blogs.forEach(blog =>{ %>
             <h3 class="title"><%= blog.title %></h3>
             <p class="snippet"><%= blog.snippet %></p>
             <p class="body"><%= blog.body%></p>
          <% }) %>
       <%  } else { %>
                <p>There are no blogs to display</p>
            <% } %>
    </div>

    <%- include("./partials/footer.ejs") %>
</body>
</html>

